/* Style of Dilato IT */

body {
  /*background: url("../images/body-bottom.png") bottom repeat-x;*/
  color: #414141;
  font-family: Helvetica, Tahoma, Arial, Verdana;
  line-height: 1.5em;
}

#skip-link, #page {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #267bb1;
}

a:hover {
  text-decoration: underline;
}
h1.title {
  margin-bottom: 0.5em;
}
#header {
  position: relative;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#header #logo {
  position: absolute;
  top: 20px;
}

.region-highlight {
  background: #f8f8f8;
  clear: both;
}

.region-highlight .view-slideshow {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#footer {
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #f3f3f5;
}
#footer-message {
  font-size: 11px;
}

#main-wrapper {
  min-height: 280px;
  height: auto !important;
  height: 280px;
  margin-top: -30px;
}
#navigation {
  overflow: visible;
  border-bottom: 1px solid #6c6c6c;
  *float:none;
}
#navigation .section {
  width: 960px;
  margin: 0 auto;
}
#navigation .nice-menu li {
  margin-left: 20px;
}

#navigation ul.nice-menu ul {
  border: 1px solid #ccc;
  background: #fff;
  width: auto;
}
ul.nice-menu ul li {
  width: 16em;
}
ul.nice-menu-down li ul li ul {
  left: 16.5em;
}
ul.nice-menu ul ul li {
  width: 20em;
}
.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
  margin-top: 2.4em;
}

.breadcrumb-wrapper {
  background: #f3f3f5;
  clear: both;
}
.breadcrumb-wrapper-nobg {
  clear: both;
}

.breadcrumb {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding: 0.5em;
}

.no-sidebars #content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  float: none;
}

#block-nice_menus-1 {
  margin: 0;
  float: right;
}
ul.nice-menu li a { 
  color: #267bb1; 
}
ul.nice-menu,
ul.nice-menu ul,
ul.nice-menu li {
  border: 0;
  background: none;
}
ul.nice-menu ul {
  background: #f0f0f0;
}
ul.nice-menu-down li.menuparent,
ul.nice-menu-down li.menuparent:hover { 
  background: url('../images/arrow-down.png') right center no-repeat; 
}
ul.nice-menu-down li li.menuparent,
ul.nice-menu-down li li.menuparent:hover {
  background: url('../images/arrow-right.png') right center no-repeat; 
}


/* SlideShow Style */
.view-slideshow .views_slideshow_singleframe_main .views-row {
  position: relative;
  width: 960px;
  height:300px;
}
.view-slideshow .views_slideshow_singleframe_main .views-field-body {
  position: absolute;
  left: 450px;
  top: 0;
  height: 257px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}
.view-slideshow .views_slideshow_singleframe_main .link a {
  background: url("../images/button.png") no-repeat;
  display: block;
  width: 140px;
  height: 50px;
  color: #267bb1;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  float: right;
}
.views-slideshow-controls-bottom {
  text-align: center;
  *margin:0 auto;
  *width:100px;
}
/* Page Type title Style */
.page h1.title {
  background-color:#8DD8F8;
  padding:0px 15px;
}
.page #content {
  width:990px;
}
.page #content-area {
  padding:0px 15px;
}
/* Front Page Style */
.page-services h1.title,
.page-solutions h1.title,
.front h1.title {
  display: none;
}

.front .content h2,
.content h2 {
  font-size: 18px;
}

.content a .more {
  color: #0b6dea;
}

.front-bottom-left .column-1 {
  float: left;
  overflow: hidden;
  width: 200px;
}

.front-bottom-left .column-2 {
  float: left;
  overflow: hidden;
  width: 270px;
}

.view-testimonials-slideshow {
  width: 440px;
  float: right;
  padding: 15px;
  background: #fefefe;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: -150px;
}

.homepage-content {
  overflow: hidden;
}
.homepage-content li {
  float: left;
  display: inline;
  width: 220px;
  padding: 5px;
}
.homepage-content .title-st {
  padding: 5px 0px 5px 70px;
  background: url("../images/st.jpg") left center no-repeat;
  height:70px;
}
.homepage-content .title-sg {
  padding: 5px 0px 5px 70px;
  background: url("../images/sg.jpg") left center no-repeat;
  height:70px;
}
.homepage-content .title-sd {
  padding: 5px 0px 5px 70px;
  background: url("../images/sd.jpg") left center no-repeat;
  height:70px;
}
.homepage-content .title-ps {
  padding: 5px 0px 5px 70px;
  background: url("../images/ps.jpg") left center no-repeat;
  height:70px;
}

/* Solutions Page Style */
.solutions-content {
  overflow: hidden;
}
.solutions-content li {
  float: left;
  display: inline;
  width: 270px;
  padding: 5px 20px;
}
.solutions-content .title-ccv {
  padding: 5px 0px 5px 80px;
  background: url("../images/ccv.jpg") left center no-repeat;
  height:70px;
}
.solutions-content .title-tae {
  padding: 5px 0px 5px 80px;
  background: url("../images/tae.jpg") left center no-repeat;
  height:70px;
}
.solutions-content .title-gt {
  padding: 5px 0px 5px 95px;
  background: url("../images/gt.jpg") left center no-repeat;
  height:70px;
}
.solutions-content h2 a,
.homepage-content h2 a {
  color: #666;
}
/* View SlideShow Pager Style */
.view-slideshow .pager-item {
  display: inline-block;
  padding: 5px;
  margin-bottom: 15px;
  *float:left;
}
.view-slideshow .pager-item a {
  background: #fff;
	-webkit-border-radius: 7px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
  -moz-border-radius: 7px; /* FF1-3.6 */
  border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	width: 14px;
	height: 14px;
	text-indent: -9999px;
	display: block;
	box-shadow: inset 0px 1px 3px #959595;
	-webkit-box-shadow: inset 0px 1px 3px #959595;
	-moz-box-shadow: inset 0px 1px 3px #959595;
  *background-color:#959595;
}
.view-slideshow .pager-item a:hover {
	background: #267bb1;
	box-shadow: inset 0px 1px 3px #464646;
	-webkit-box-shadow: inset 0px 1px 3px #464646;
	-moz-box-shadow: inset 0px 1px 3px #464646;
}
.view-slideshow .activeSlide a {
	background: #424242;
	box-shadow: 0px 0px 3px rgba(255,255,255,0.75);
	-webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

/* Partners Style */

#partners li {
 display: table-cell;
}
#partners .logo {
  width: 300px;
  vertical-align: middle;
}
#partners .description {
  width: 600px;
}
/**
 *Languagw swich
 */
.block-locale {
  float:right;
}
.block-locale li {
  float:left;
  list-style:none;
  margin-right:10px;
}